<main>
  <div class="left">
    <form (submit)="addCard()">
      <input [(ngModel)]="name" name="name" placeholder="name">
      <input [(ngModel)]="surname" name="surname" placeholder="surname">
      <input [(ngModel)]="age" name="age" placeholder="age">
      <button>Добавить</button>
    </form>
    <div class="table-field">
      <table>
        <thead>
        <tr>
          <th>Имя карты</th>
          <th>Фамилия</th>
          <th>Возраст</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
          <td><span>{{item?.name}}</span></td>
          <td><span>{{item?.surname}}</span></td>
          <td><span>{{item?.age}}</span></td>
          <td class="btn-delete gap-4 pointer">
<!--            <div>-->
<!--              <svg-icon (click)="deleteRowByCard(item?.id)" src="assets/images/delete.svg"></svg-icon>-->
<!--            </div>-->
            <span class="us-none" (click)="deleteRowByCard(item?.id)">Удалить</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="block-field">
    <div class="block" *ngFor="let item of data">
      <div class="block-header">
        <span>{{item.id}}</span>
        <svg-icon (click)="deleteRowByCard(item?.id)" class="btn-delete" src="assets/images/delete.svg"></svg-icon>
      </div>
      <div class="block-body">
        <span>{{item?.name}}</span>
        <span>{{item?.surname}}</span>
      </div>
    </div>
  </div>
</main>
